[submodule "SrvAlpineLinuxNgnix"]
	path = SrvAlpineLinuxNgnix
	url = https://github.com/SimpleMethod/SrvAlpineLinuxNgnix
[submodule "SrvAlpineLinuxOpenJDK"]
	path = SrvAlpineLinuxOpenJDK
	url = https://github.com/SimpleMethod/SrvAlpineLinuxOpenJDK.git
[submodule "SRVClient"]
	path = SRVClient
	url = https://github.com/SimpleMethod/SRVClient
[submodule "codebin"]
	path = codebin
	url = https://github.com/SimpleMethod/codebin
